@font-face{
    font-family: Roboto-R;
    src: url(font/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto-L;
    src: url(font/Roboto-Light.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.calculator{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.input-sec{
    position: relative;
    left: 2.5px;
    font-family: Roboto-L;
    margin: auto;
    width: 377px;
    height: 250px;
    background-color: rgb(224, 229, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#f_result{
    position: absolute;
    right: 20px;
    top: 199px;
    color: #343852;
    font-size: 30px;
    overflow: hidden;
    max-width: 350px;
}

#last_result{
    position: absolute;
    right: 20px;
    top: 199px;
    color: #343852;
    font-size: 30px;
    opacity: 0;
    overflow: hidden;
    max-width: 350px;
}

#result{
    position: absolute;
    right: 20px;
    top: 140px;
    color: #343852;
    font-size: 45px;
    overflow: hidden;
    max-width: 350px;
}

#mid_label{
    position: absolute;
    right: 20px;
    top: 140px;
    color: #343852;
    font-size: 45px;
    overflow: hidden;
    max-width: 350px;
}

button{
    font-family: Roboto-R;
    margin-right: -5px;
    margin-bottom: -1px;
    color: #ffffff;
    cursor: pointer;
    background-color: #343852;
    border: none;
    outline: none;
    font-size: 20px;
    height: 60px;
    width: 95px;
    background-position: center;
    transition: background 0.8s;
}

button:hover{
    background: #424663 radial-gradient(circle, transparent 1%, #424663 1%) center/15000%;
}

button:active{
    transition: background 0s;
    background-color: #585d7e;
    background-size: 100%;
}

.last-btn{
    background-color: #2cb871;
    border-bottom-right-radius: 10px;
    transition: background 0.8s;
}

.last-btn:hover{
    background-color: #3ece86;
    background-image: radial-gradient(circle, transparent 1%, #3ece86 1%);
    background-position: center;
    background-size: 15000%;
}

.last-btn:active{
    transition: background 0s;
    background-color: #54e69d;
    background-size: 100%;
}

.color-chn-btn{
    color: #2cb871;
}

.left-bottom-btn{
    border-bottom-left-radius: 10px;
}

@media (max-width: 388px) {
    
    .input-sec{
        height: 223.4px;  
        width: 337px;
    }

    button{
        width: 85px;
        height: 53.6px;
        font-size: 18px;
    }

    button:focus{
        -webkit-tap-highlight-color: transparent;
    }

    #f_result{
        top: 178px;
        font-size: 28px;
        overflow: hidden;
        max-width: 313px;
    }
    
    #last_result{
        top: 178px;
        font-size: 28px;
        overflow: hidden;
        max-width: 313px;
    }

    #result{
        top: 123px;
        font-size: 43px;
        overflow: hidden;
        max-width: 313px;
    }
    
    #mid_label{
        top: 123px;
        font-size: 43px;
        overflow: hidden;
        max-width: 313px;
    }
}